body {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
  font: 16px, "Lora", serif;
  color: #1c1a19;
  background-color: #f1f1f1;
  align-items: center;
}

h1{
  color: #495d5e;
}

.card {
  background-color: #b0c3c4;
  width: 30%;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #1d2a21;
  box-shadow: 0.2rem 0.1rem 0.5rem black;
}

form {
  display: flex;
  flex-direction: column;
}


button {
  width: 15%;
}

button:hover {
  background-color: #45414f;
  transition: 0.7s;
  opacity: 0.8;
}

#inputButton:hover{
  background-color: #45414f;
  transition: 0.7s;
  opacity: 0.8;
}

button,
#inputButton {
  background-color: #2d2a28;
  padding: 1rem;
  border: 1px solid #4d8184;
  border-radius: 0.5rem;
}


a, #inputButton {
  color: #4d8184;
  font-weight: 700;
  cursor: pointer;
  width: 60%;
 
}

#inputButton {
  margin-top: 1rem;
  margin-left: 3rem;
}

li {
  margin-bottom: 0.5rem;
}

p {
  margin: 0.4rem;
}
